<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MovieAppTestSuite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="org.actualPages.MoviesAppTestReports"/>
    </listeners>
    <test name="Movie_App_Test">
        <classes>
            <class name="org.actualPages.LoginPageTest"/>
            <class name="org.actualPages.HomePageTest"/>
            <class name="org.actualPages.HeaderSectionTest"/>
            <class name="org.actualPages.PopularPageTest"/>
            <class name="org.actualPages.SearchPageTest"/>
            <class name="org.actualPages.MovieDetailsPageTest"/>
            <class name="org.actualPages.AccountPageTest"/>
        </classes>
    </test>
</suite>